{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Change your password{% endblock %}
{% block content %}
<!-- ============================ Page Title Start================================== -->
<div class="page-title">
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">

      <h2 class="ipt-title">Change Your Password</h2>

    </div>
  </div>
</div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ User Dashboard ================================== -->
<section class="bg-light">
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="filter_search_opt">
        <a href="javascript:void(0);" onclick="openFilterSearch()">Dashboard Navigation<i class="ml-2 ti-menu"></i></a>
      </div>
    </div>
  </div>

  <div class="row">
    {% include 'includes/dashboard_sidebar.html' %}

    <div class="col-lg-9 col-md-12">
      <div class="dashboard-wraper">

        <!-- Basic Information -->
        <div class="form-submit">
          <h4>Change Your Password</h4>
          {% include 'includes/alerts.html' %}
          <div class="submit-section">
            <form action="{% url 'change_password' %}" method="POST">
              {% csrf_token %}
            <div class="row">

              <div class="form-group col-lg-12 col-md-6">
                <label>Old Password</label>
                <input type="password" name="current_password" class="form-control" placeholder="Enter Your Current Password" required>
              </div>

              <div class="form-group col-md-6">
                <label>New Password</label>
                <input type="password" name="new_password" class="form-control" placeholder="Enter Your New Password" id="pas" required>
              </div>

              <div class="form-group col-md-6">
                <label>Confirm password</label>
                <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Your New Password" onkeyup="check_pass()" id="cpas" required>
              </div>

              <div class="form-group col-lg-12 col-md-12">
                <button class="btn btn-theme-light-2 rounded" type="submit" id="sbbtn">Save Changes</button>
              </div>

            </div>
            </form>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
</section>
<script>
  function check_pass(){
    let p = $("#pas").val();
    let cp = $("#cpas").val();

    if(p==cp){
      $("#pas").css("border", "1px solid green");
      $("#cpas").css("border", "1px solid green");
      $("#sbbtn").removeAttr("disabled");
    }else{
      $("#pas").css("border", "1px solid red");
      $("#cpas").css("border", "1px solid red");
      $("#sbbtn").attr("disabled", "disabled");
    }
  }
</script>
{% endblock %}
