{% extends 'base.html' %}
{% load static %}
{% block title %}Forget Password{% endblock %}
{% block content %}

<!-- Registration page start-->
<section>
    <div class="row justify-content-center">
      <div class="modal-dialog-centered" style="width:40%;">
        <div class="modal-content" id="sign-up">
          <div class="modal-body">
            <h2 class="mb-3">Forgot Password?</h2>
            {% include 'includes/alerts.html' %}
            <div class="login-form">
              <form action="{% url 'forgetpassword' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group">
                      <div class="input-with-icon">
                        <input type="email" name="email" class="form-control" placeholder="Enter Your Email">
                        <i class="ti-email"></i>
                      </div>
                    </div>
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-md full-width btn-theme-light-2 rounded">Click Here To Reset Your Password</button>
                </div>
              </form>
            </div>
            <div class="text-center">
              <p><i class="ti-user mr-1"></i>Do Not Have An Account?<a href="{% url 'register' %}" class="link">Create Account</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<div class="clearfix"></div>
{% endblock %}
