{% extends 'base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock %}
{% block content %}

<!-- Registration page start-->
<section>
    <div class="row justify-content-center">
      <div class="modal-dialog-centered" style="width:40%;">
        <div class="modal-content" id="sign-up">
          <div class="modal-body">
            <h2 class="mb-3">Create Your New Password</h2>
            {% include 'includes/alerts.html' %}
            <div class="login-form">
              <form action="{% url 'ResetPassword' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group">
                      <div class="input-with-icon">
                        <input type="password" name="password" class="form-control" id="pas" placeholder="Enter Your New Password">
                        <i class="ti-lock"></i>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-with-icon">
                        <input type="password" name="confirm_password" class="form-control" onkeyup="check_pass()" id=cpas placeholder="Confirm Your New Password">
                        <i class="ti-lock"></i>
                      </div>
                    </div>
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-md full-width btn-theme-light-2 rounded" id="sbbtn">Reset Password</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<div class="clearfix"></div>
<script>
  function check_pass(){
    let p = $("#pas").val();
    let cp = $("#cpas").val();

    if(p==cp){
      $("#pas").css("border", "1px solid green");
      $("#cpas").css("border", "1px solid green");
      $("#sbbtn").removeAttr("disabled");
    }else{
      $("#pas").css("border", "1px solid red");
      $("#cpas").css("border", "1px solid red");
      $("#sbbtn").attr("disabled", "disabled");
    }
  }
</script>
{% endblock %}
