{% extends 'base.html' %}
{% load static %}
{% block title %}Book Now | Rent House{% endblock %}
{% block content %}
<!-- ============================ Page Title Start================================== -->
<div class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">

        <h2 class="ipt-title">Payment Method</h2>
        <span class="ipn-subtitle">Make your payment</span>

      </div>
    </div>
  </div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- =================== Sidebar Search ==================== -->
<section class="gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12 form-submit">

        <!-- 1st Step Checkout -->
        <div class="checkout-wrap">

          <div class="checkout-head">
            <ul>
              <li><span><i class="ti-check"></i></span>Customer Detail</li>
              <li class="active"><span>2</span>Payment Information</li>
              <li><span>3</span>Confirmation!</li>
            </ul>
          </div>

          <div class="checkout-body">
            <div class="row">

              <div class="col-lg-12 col-md-12 col-sm-12">
                <h4 class="mb-3">Billing Detail</h4>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <label>First Name<i class="req">*</i></label>
                  <input type="text" class="form-control" value="Shaurya">
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <label>Last Name<i class="req">*</i></label>
                  <input type="text" class="form-control" value="Preet">
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <label>Email<i class="req">*</i></label>
                  <input type="email" class="form-control" value="themezhub@gmail.com">
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <label>Phone</label>
                  <input type="text" class="form-control" value="780 052 2177">
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <label>Country<i class="req">*</i></label>
                  <select id="country" class="form-control">
                    <option value="">&nbsp;</option>
                    <option value="1">United State</option>
                    <option value="2">United kingdom</option>
                    <option value="3">India</option>
                    <option value="4">Canada</option>
                  </select>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <label>City<i class="req">*</i></label>
                  <select id="choose-city" class="form-control">
                    <option value="">&nbsp;</option>
                    <option value="1">Canada, USA</option>
                    <option value="2">California</option>
                    <option value="3">Newyork</option>
                    <option value="4">Liverpool</option>
                  </select>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                  <label>Special Instruction</label>
                  <textarea class="form-control"></textarea>
                </div>
              </div>

              <!-- for paypal buttons -->
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group text-center">
                  <a href="{% url 'booking_confirmed' %}" class="btn btn-theme-light-2 rounded">Click here to make payment</a>
                </div>
              </div>
              <!-- end paypal buttons -->


            </div>
          </div>

        </div>

      </div>


      <!-- Sidebar End -->

      <div class="col-lg-4 col-md-12">
        <div class="checkout-side">

          <div class="booking-short">
            <img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="" />
            <h4>Manali To Paris, London</h4>
            <span>Liverpool, London</span>
          </div>

          <div class="booking-short-side">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="bookinDet">
                  <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#bookinSer" aria-expanded="true" aria-controls="bookinSer">
                    Booking Detail
                  </button>
                  </h2>
                </div>

                <div id="bookinSer" class="collapse show" aria-labelledby="bookinDet" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul class="booking-detail-list">
                      <li>Check in date<span>03-05-2022</span></li>
                      <li>Adults<span>4</span></li>
                      <li>Children<span>3</span></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="extraFeat">
                  <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#extraSer" aria-expanded="false" aria-controls="extraSer">
                    Extra Features
                  </button>
                  </h2>
                </div>
                <div id="extraSer" class="collapse" aria-labelledby="extraFeat" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul class="booking-detail-list">
                      <li>Breakfast</li>
                      <li>Rooms Service</li>
                      <li>Wifi Free</li>
                      <li>Car Driving</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="PayMents">
                  <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#payser" aria-expanded="false" aria-controls="payser">
                    Payment
                  </button>
                  </h2>
                </div>
                <div id="payser" class="show" aria-labelledby="PayMents" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul class="booking-detail-list">
                      <li>Sub Total<span>$224</span></li>
                      <li>Tax<span>$20</span></li>
                      <li><b>Pay Ammount</b><span>$314</span></li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- <div class="card">
              <div class="card-header" id="CouponCode">
                <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-target="#couponcd" aria-expanded="false" aria-controls="couponcd">
                  Coupon Code
                </button>
                </h2>
              </div>
              <div id="couponcd" class="collapse show" aria-labelledby="CouponCode" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Code">
                    <button type="button" class="btn btn-black black full-width mt-2">Apply</button>
                  </div>
                </div>
              </div>
            </div> -->

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- =================== Sidebar Search ==================== -->
{% endblock %}
