{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}Search Properties{% endblock %}
{% block content %}
<!-- ============================ Hero Banner  Start================================== -->
<!-- ============================ Page Title Start================================== -->
<!-- <div class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">

        <h2 class="ipt-title">Property List</h2>
        <span class="ipn-subtitle">Property List With Sidebar</span>

      </div>
    </div>
  </div>
</div> -->
<!-- ============================ Page Title End ================================== -->
<!-- ============================ Hero Banner End ================================== -->
<!-- This is search script -->
<!-- ============================================================== -->

<script>
  function openFilterSearch() {
    document.getElementById("filter_search").style.display = "block";
  }
  function closeFilterSearch() {
    document.getElementById("filter_search").style.display = "none";
  }
</script>

<!-- ============================ All Property ================================== -->
<section class="gray pt-5">
  <div class="container">

    <div class="row m-0">
      <div class="short_wraping">
        <div class="row align-items-center">

          <div class="col-lg-9 col-md-6 col-sm-12  col-sm-6">
            <div class="shorting_pagination">
              <div class="shorting_pagination_laft">
                <h5>Showing {{listing_count}} search results</h5>
              </div>
              <!-- pagination -->
              <!-- <div class="shorting_pagination_right">
                <ul>
                  <li><a href="javascript:void(0);" class="active">1</a></li>
                  <li><a href="javascript:void(0);">2</a></li>
                  <li><a href="javascript:void(0);">3</a></li>
                  <li><a href="javascript:void(0);">4</a></li>
                  <li><a href="javascript:void(0);">5</a></li>
                  <li><a href="javascript:void(0);">6</a></li>
                </ul>
              </div> -->
            </div>
          </div>

          <!-- <div class="col-lg-7 col-md-12 col-sm-12 order-lg-2 order-md-3 elco_bor col-sm-12">
            <div class="shorting_pagination">
              <div class="shorting_pagination_laft">
                <h5>Showing {{listing_count}} results</h5>
              </div>
              <div class="shorting_pagination_right">
                <ul>
                  <li><a href="javascript:void(0);" class="active">1</a></li>
                  <li><a href="javascript:void(0);">2</a></li>
                  <li><a href="javascript:void(0);">3</a></li>
                  <li><a href="javascript:void(0);">4</a></li>
                  <li><a href="javascript:void(0);">5</a></li>
                  <li><a href="javascript:void(0);">6</a></li>
                </ul>
              </div>
            </div>
          </div> -->

          <div class="col-lg-3 col-md-6 col-sm-12 order-lg-3 order-md-2 col-sm-6">
            <div class="shorting-right">
              <label>Short By:</label>
              <div class="dropdown show">
                <button class="btn btn-filter dropdown-toggle" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="selection">News Listings</span>
                </button>
                <div class="drp-select dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="JavaScript:Void(0);">Most Rated</a>
                  <a class="dropdown-item" href="JavaScript:Void(0);">Most Viewd</a>
                  <a class="dropdown-item" href="JavaScript:Void(0);">News Listings</a>
                  <a class="dropdown-item" href="JavaScript:Void(0);">High Rated</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="filter_search_opt">
          <a href="javascript:void(0);" onclick="openFilterSearch()">Search Property<i class="ml-2 ti-menu"></i></a>
        </div>
      </div>
    </div>

    <div class="row">

      <!-- property Sidebar -->
      <div class="col-lg-4 col-md-4 col-sm-12">
        <form action="{% url 'search' %}">
        <div class="simple-sidebar sm-sidebar" id="filter_search"  style="left:0;">

          <div class="search-sidebar_header">

            <h4 class="ssh_heading">Close Filter</h4>
            <button onclick="closeFilterSearch()" class="w3-bar-item w3-button w3-large"><i class="ti-close"></i></button>
          </div>

            <!-- Find New Property -->
            <div class="sidebar-widgets">

              <div class="form-group simple">
                <div class="input-with-icon">
                  <input type="text" class="form-control" name="keywords" placeholder="Search for a location, Landmark, Pincode" value="{{values.keywords}}">
                  <i class="ti-search"></i>
                </div>
              </div>

              <div class="form-group simple">
                <select name="city" id="cities" class="form-control">
                  <option value="">&nbsp;</option>
                    {% for key,value in city_choices.items %}
                    <option value="{{key}}"
                    {% if key == values.city %}
                      selected
                    {% endif %}>{{value}}</option>
                    {% endfor %}
                </select>
              </div>

              <div class="form-group simple">
                <div class="simple-input">
                  <select class="for-control" name="property_type" id="ptypes">
                    <option value="">&nbsp;</option>
                    {% for key,value in property_choices.items %}
                    <option value="{{key}}"
                    {% if key == values.property_type %}
                      selected
                    {% endif %}>{{value}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group simple">
                <div class="simple-input">
                  <select class="for-control" name="available_for" id="availfor">
                    <option value="">&nbsp;</option>
                  {% for key,value in availability_choices.items %}
                    <option value="{{key}}"
                    {% if key == values.available_for %}
                      selected
                    {% endif %}>{{value}}</option>
                  {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group simple">
                <div class="simple-input">
                  <select name="price" id="price" class="form-control">
                    <option value="">&nbsp;</option>
                    {% for key,value in price_choices.items %}
                      <option value="{{key}}"
                      {% if key == values.price %}
                        selected
                      {% endif %}>{{value}}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group simple">
                <div class="simple-input">
                  <select name="bedroom" id="bedrooms" class="form-control">
                    <option value="">&nbsp;</option>
                  {% for key,value in bedroom_choices.items %}
                    <option value="{{key}}"
                    {% if key == values.bedroom %}
                      selected
                    {% endif %}>{{value}}</option>
                  {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group simple">
                <div class="simple-input">
                  <select name="bathroom" id="bathrooms" class="form-control">
                    <option value="">&nbsp;</option>
                  {% for key,value in bathroom_choices.items %}
                    <option value="{{key}}"
                    {% if key == values.bathroom %}
                      selected
                    {% endif %}>{{value}}</option>
                  {% endfor %}
                  </select>
                </div>
              </div>

              <!-- <div class="form-group simple">
                <div class="simple-input">
                  <select id="garage" class="form-control">
                    <option value="">&nbsp;</option>
                    <option value="1">Any Type</option>
                    <option value="2">Yes</option>
                    <option value="3">No</option>
                  </select>
                </div>
              </div> -->

              <!-- <div class="form-group simple">
                <div class="simple-input">
                  <select id="built" class="form-control">
                    <option value="">&nbsp;</option>
                    <option value="1">2010</option>
                    <option value="2">2011</option>
                    <option value="3">2012</option>
                    <option value="4">2013</option>
                    <option value="5">2014</option>
                    <option value="6">2015</option>
                    <option value="7">2016</option>
                  </select>
                </div>
              </div> -->

              <!-- <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="form-group">
                    <div class="simple-input">
                      <input type="text" class="form-control" placeholder="Min Area">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="form-group">
                    <div class="simple-input">
                      <input type="text" class="form-control" placeholder="Max Area">
                    </div>
                  </div>
                </div>
              </div> -->

              <!-- <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 pt-4 pb-4">
                  <h6>Choose Price</h6>
                  <div class="rg-slider">
                     <input type="text" class="js-range-slider" name="my_range" value="" />
                  </div>
                </div>
              </div> -->

              <div class="ameneties-features">
                <div class="form-group" id="module">
                  <a role="button" class="" data-bs-toggle="collapse" href="#advance-search" aria-expanded="true" aria-controls="advance-search"></a>
                </div>
                <div class="collapse" id="advance-search" aria-expanded="false" role="banner">
                  <ul class="no-ul-list">
                    <li>
                      <input id="a-1" class="checkbox-custom" name="AirConditioning" type="checkbox">
                      <label for="a-1" class="checkbox-custom-label">Air Condition</label>
                    </li>
                    <li>
                      <input id="a-2" class="checkbox-custom" name="SwimmingPool" type="checkbox">
                      <label for="a-2" class="checkbox-custom-label">Swimming Pool</label>
                    </li>
                    <li>
                      <input id="a-3" class="checkbox-custom" name="Elevator" type="checkbox">
                      <label for="a-3" class="checkbox-custom-label">Elevator</label>
                    </li>
                    <li>
                      <input id="a-4" class="checkbox-custom" name="LaundryRoom" type="checkbox">
                      <label for="a-4" class="checkbox-custom-label">Laundry Room</label>
                    </li>
                    <li>
                      <input id="a-5" class="checkbox-custom" name="WindowCovering" type="checkbox">
                      <label for="a-5" class="checkbox-custom-label">Window Covering</label>
                    </li>
                    <li>
                      <input id="a-6" class="checkbox-custom" name="PetsAllowed" type="checkbox">
                      <label for="a-6" class="checkbox-custom-label">Pets Allowed</label>
                    </li>
                    <li>
                      <input id="a-7" class="checkbox-custom" name="FreeWIFI" type="checkbox">
                      <label for="a-7" class="checkbox-custom-label">Free WIFI</label>
                    </li>
                    <li>
                      <input id="a-8" class="checkbox-custom" name="Gyser" type="checkbox">
                      <label for="a-8" class="checkbox-custom-label">Gyser</label>
                    </li>
                    <li>
                      <input id="a-9" class="checkbox-custom" name="Refrigerator" type="checkbox">
                      <label for="a-9" class="checkbox-custom-label">Refrigerator</label>
                    </li>
                    <li>
                      <input id="a-9" class="checkbox-custom" name="GYM" type="checkbox">
                      <label for="a-9" class="checkbox-custom-label">GYM</label>
                    </li>
                    <li>
                      <input id="a-9" class="checkbox-custom" name="CarParking" type="checkbox">
                      <label for="a-9" class="checkbox-custom-label">Car Parking</label>
                    </li>
                    <li>
                      <input id="a-9" class="checkbox-custom" name="Alarm" type="checkbox">
                      <label for="a-9" class="checkbox-custom-label">Alarm</label>
                    </li>
                    <li>
                      <input id="a-9" class="checkbox-custom" name="Powerbackup" type="checkbox">
                      <label for="a-9" class="checkbox-custom-label">Power backup</label>
                    </li>
                    <li>
                      <input id="a-9" class="checkbox-custom" name="Park" type="checkbox">
                      <label for="a-9" class="checkbox-custom-label">Park</label>
                    </li>
                  </ul>
                </div>

                <button type="submit"class="btn btn btn-theme-light-2 rounded full-width">Find New Home</button>

              </div>

            </div>
        </div>
        <!-- Sidebar End -->
        </form>

      </div>


      <div class="col-lg-8 col-md-12 list-layout">

        <div class="row justify-content-center">
          {% if listings %}
            {% for listing in listings %}

            <!-- Single Property -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
              <div class="property-listing list_view style_new">

                <div class="listing-img-wrapper">
                  <div class="_exlio_125">{{listing.property_type}}</div>
                  <div class="like_unlike_prt">
                    <label class="toggler toggler-danger"><input type="checkbox"><i class="fa fa-heart"></i></label>
                  </div>
                  <div class="list-img-slide">
                    <div class="clior">
                      <div><a href="{{listing.get_absolute_url}}" target="_blank"><img src="{{listing.photo_main.url}}" class="img-fluid mx-auto" alt="" /></a></div>
                      <div><a href="{{listing.get_absolute_url}}" target="_blank"><img src="{{listing.first_room_photo.url}}" class="img-fluid mx-auto" alt="" /></a></div>
                      <div><a href="{{listing.get_absolute_url}}" target="_blank"><img src="{{listing.front_home_photo.url}}" class="img-fluid mx-auto" alt="" /></a></div>
                    </div>
                  </div>
                </div>

                <div class="list_view_flex">

                  <div class="listing-detail-wrapper mt-1">
                    <div class="listing-short-detail-wrap">
                      <div class="_card_list_flex mb-2">
                        <div class="_card_flex_01">
                          <span class="prt-types rent">For Rent</span>
                          <span class="_list_blickes types">{{listing.available_for}}</span>
                        </div>
                        <div class="_card_flex_last">
                          <h6 class="listing-card-info-price mb-0">₹ {{listing.price | intcomma}}</h6>
                        </div>
                      </div>
                      <div class="_card_list_flex">
                        <div class="_card_flex_01">
                          <h4 class="listing-name verified"><a href="{{listing.get_absolute_url}}" target="_blank" class="prt-link-detail"><i class="ti-location-pin"></i> {{listing.address}}, {{listing.city}}, {{listing.state}}, {{listing.pincode}}</a></h4>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="price-features-wrapper">
                    <div class="list-fx-features">
                      <div class="listing-card-info-icon">
                        <div class="inc-fleat-icon"><img src="{% static 'assets/img/bed.svg' %}" width="13" alt="" /></div>{{listing.bedroom}} Beds
                      </div>
                      <div class="listing-card-info-icon">
                        <div class="inc-fleat-icon"><img src="{% static 'assets/img/bathtub.svg' %}" width="13" alt="" /></div>{{listing.bathroom}} Bath
                      </div>
                      <div class="listing-card-info-icon">
                        <div class="inc-fleat-icon"><img src="{% static 'assets/img/move.svg' %}" width="13" alt="" /></div>{{listing.area_sqft_size}} sqft
                      </div>
                      <div class="foot-rates">
                        <span class="elio_rate good">4.2</span>
                        <div class="_rate_stio">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="listing-detail-footer pl-0">
                      <div class="footer-first">
                        <div class="foot-rates"><b><a>Listed:&nbsp;</a></b>
                          <span class="elio_rate good">{{listing.list_date|timesince}} ago</span>
                        </div>
											</div>
                    <div class="footer-flex">
											<a href="{{listing.get_absolute_url}}" target="_blank" class="prt-view">View Property</a>
										</div>
                  </div>
                </div>

              </div>
            </div>
            <!-- End Single Property -->

            {% endfor %}
            {% else %}
            <div class="row justify-content-center">
              <div class="col-lg-7 col-md-10 text-center">
                <div class="sec-heading center mb-4">
                  <h2>No Property Available</h2>
                  <p>No properties available based on your search, We are trying to onboard this location as soon as possible.</p>
                </div>
              </div>
            </div>

          {% endif %}

        </div>

        <!-- Pagination -->
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            {% if listings.has_other_pages %}
            <ul class="pagination p-center">
              {% if listings.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{listings_previous_page_number}}" aria-label="Previous">
                <span class="ti-arrow-left"></span>
                <span class="sr-only">Previous</span>
                </a>
              </li>
              {% else %}
                <li class="page-item" disabled>
                  <a class="page-link" aria-label="Previous">
                  <span class="ti-arrow-left"></span>
                  <span class="sr-only">Previous</span>
                  </a>
                </li>
              {% endif %}
              {% for i in listings.paginator.page_range %}
                {% if listings == i %}
                  <li class="page-item active"><a class="page-link">{{i}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
              {% endfor %}
              {% if listings.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{listings_next_page_number}}" aria-label="Next">
                <span class="ti-arrow-right"></span>
                <span class="sr-only">Next</span>
                </a>
              </li>
              {% else %}
                <li class="page-item" disabled>
                  <a class="page-link" aria-label="Next">
                  <span class="ti-arrow-right"></span>
                  <span class="sr-only">Next</span>
                  </a>
                </li>
              {% endif %}
            </ul>
            {% endif %}
          </div>
        </div>

      </div>

    </div>
  </div>
</section>

{% endblock %}
