{% load static %}
<!-- ============================ Footer Start ================================== -->
<footer class="dark-footer skin-dark-footer">
  <div>
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-4">
          <div class="footer-widget">
            <img src="{% static 'assets/img/logo-light.png' %}" class="img-footer" alt="" />
            <h4 class="widget-title">Rent House Pvt Ltd.</h4>
            <div class="footer-add">
              <p><b>Address: </b>B-46, Second Floor, Sector 57, Noida,Uttar Pradesh, 201301</p>
              <p>+91 901-2300-567</p>
              <p><b>Email: </b><a href="#">contact@renthouse.co.in</a></p>
            </div>

          </div>
        </div>
        <div class="col-lg-2 col-md-4">
          <div class="footer-widget">
            <h4 class="widget-title">Navigations</h4>
            <ul class="footer-menu">
              <li><a href="about-us.html">About Us</a></li>
              <li><a href="faq.html">FAQs Page</a></li>
              <li><a href="checkout.html">Checkout</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="blog.html">Blog</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-2 col-md-4">
          <div class="footer-widget">
            <h4 class="widget-title">The Highlights</h4>
            <ul class="footer-menu">
              <li><a href="#">Apartment</a></li>
              <li><a href="#">My Houses</a></li>
              <li><a href="#">Restaurant</a></li>
              <li><a href="#">Nightlife</a></li>
              <li><a href="#">Villas</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6">
          <div class="footer-widget">
            <h4 class="widget-title">My Account</h4>
            <ul class="footer-menu">
              <li><a href="#">My Profile</a></li>
              <li><a href="#">My account</a></li>
              <li><a href="#">My Property</a></li>
              <li><a href="#">Favorites</a></li>
              <li><a href="#">Cart</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="footer-widget">
            <h4 class="widget-title">Download Apps</h4>
            <a href="#" class="other-store-link">
              <div class="other-store-app">
                <div class="os-app-icon">
                  <i class="lni-playstore theme-cl"></i>
                </div>
                <div class="os-app-caps">
                  Google Play
                  <span>Get It Now</span>
                </div>
              </div>
            </a>
            <a href="#" class="other-store-link">
              <div class="other-store-app">
                <div class="os-app-icon">
                  <i class="lni-apple theme-cl"></i>
                </div>
                <div class="os-app-caps">
                  App Store
                  <span>Now it Available</span>
                </div>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-lg-6 col-md-6">
          <p class="mb-0">© 2022 Rent House Pvt. Ltd | All Rights Reserved</p>
        </div>

        <div class="col-lg-6 col-md-6 text-right">
          <ul class="footer-bottom-social">
            <li><a href="https://www.facebook.com/renthouse.official" target="_blank"><i class="ti-facebook"></i></a></li>
            <li><a href="https://twitter.com/the_renthouse" target="_blank"><i class="ti-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/renthouse.official/" target="_blank"><i class="ti-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/company/rent-house-official" target="_blank"><i class="ti-linkedin"></i></a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</footer>
<!-- ============================ Footer End ================================== -->

<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->

</body>
</html>
