{% load static %}
   <!-- Preloader - style you can find in spinners.css -->
   <!-- ============================================================== -->
   <div id="preloader"><div class="preloader"><span></span><span></span></div></div>

      <!-- ============================================================== -->
      <!-- Top header  -->
   <!-- ============================================================== -->
   <!-- Main wrapper - style you can find in pages.scss -->
   <!-- ============================================================== -->
   <div id="main-wrapper">
<!-- Start Navigation -->
  <div class="header header-light head-shadow">
      <div class="container-fluid">
      <nav id="navigation" class="navigation navigation-landscape">
      <div class="nav-header">
        <a class="nav-brand" href="{% url 'index' %}">
          <img src="{% static 'assets/img/logo.png' %}" class="logo" alt="" />
        </a>
        <div class="nav-toggle"></div>
      </div>
      <div class="nav-menus-wrapper" style="transition-property: none;">
        <ul class="nav-menu">
          <li><a href="{% url 'index' %}">Home<span class="submenu-indicator"></span></a></li>
          <li><a href="JavaScript:Void(0);">Properties<span class="submenu-indicator"></span></a>
            <ul class="nav-dropdown nav-submenu">
              <li><a href="{% url 'listings' %}">All Properties</a></li>
              <li><a href="{% url 'featured_listings' %}">Featured Properties</a></li>
            </ul>
          </li>
          <li><a href="{% url 'membership_plans' %}">Membership Plans<span class="submenu-indicator"></span></a></li>
          <li><a href="JavaScript:Void(0);">About Us<span class="submenu-indicator"></span></a>
            <ul class="nav-dropdown nav-submenu">
              <li><a href="{% url 'about_us' %}">About Us</a></li>
              <li><a href="{% url 'agents' %}">Our Agents</a></li>
              <li><a href="#">Blogs</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="{% url 'faq' %}">FAQ</a></li>
            </ul>
          </li>
          <li><a href="{% url 'contact_us' %}">Contact Us<span class="submenu-indicator"></span></a></li>
        </ul>
        <ul class="nav-menu nav-menu-social align-to-right">
          {% if user.id is None %}
          <li class="add-listing blue">
            <a href="{% url 'login' %}" class="text-success"><img src="{% static 'assets/img/user-light.svg' %}" width="16" alt="signin" class="mr-1" />Sign in</a>
          </li>
          <li class="add-listing">
            <a href="{% url 'property_request' %}"><i class="fas fa-home"> </i> Post Property</a>
          </li>
          <!-- <li class="add-listing" style="background:red; border-radius:50px;">
            <a href="{% url 'bookmark_properties' %}" class="text-success"><i class="fas fa-heart"></i></a>
          </li> -->
          {% else %}
          <!-- After Login  -->
          <li><a href="JavaScript:Void(0);" class="text-success"><i class="fas fa-user-circle mr-2"></i>Hi, {{user.first_name}}<span class="submenu-indicator"></span></a>
            <ul class="nav-dropdown nav-submenu">
              <li><a href="{% url 'dashboard' %}"> <i class="ti-dashboard"></i> Dashboard</a></li>
              <li><a href="{% url 'bookmark_properties' %}"><i class="ti-heart"></i> Favorites Properties</a></li>
              <li><a href="{% url 'my_profile' %}"> <i class="ti-user"></i> My profile</a></li>
              <li><a href="{% url 'logout' %}"><img src="{% static 'assets/img/off.svg' %}" class="mr-2" width="17" alt="" />Sign Out</a></li>
            </ul>
          </li>
          <!-- After login end  -->
            {% if user.is_realtor %}
            <li class="add-listing theme-bg">
              <a href="{% url 'add_listing' %}"><i class="fas fa-home"> </i> Add Property</a>
            </li>
            {% else %}
            <li class="add-listing blue">
              <a href="{% url 'property_request' %}"><i class="fas fa-home"> </i> Post Property</a>
            </li>
            {% endif %}
          {% endif %}
        </ul>
      </div>
      </nav>
      </div>
      </div>
      <!-- End Navigation -->
      <div class="clearfix"></div>
      <!-- ============================================================== -->
      <!-- Top header  -->
      <!-- ============================================================== -->
