{% extends 'base.html' %}
{% load static %}
{% block title %}Membership Plans | Rent House{% endblock %}
{% block content %}

<!-- ============================ Page Title Start================================== -->
<div class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">

        <h2 class="ipt-title">Membership Plans</h2>
        <span class="ipn-subtitle">Choose Your Membership Plan</span>

      </div>
    </div>
  </div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ Price Table Start ================================== -->
<section>
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-10 text-center">
        <div class="sec-heading center">
          <h2>See our packages for property owners</h2>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
        </div>
      </div>
    </div>

    <div class="row">

      <!-- Single Package -->
      <div class="col-lg-4 col-md-4">
        <div class="pricing-wrap basic-pr">

          <div class="pricing-header">
            <h4 class="pr-value"><sup>₹</sup>1999</h4>
            <h4 class="pr-title">Basic Package <span class="badge badge-success">Latest Price</span></h4>
          </div>
          <div class="pricing-body">
            <ul>
              <li class="available">3+ Listings</li>
              <li class="available">Contact With Agent</li>
              <li class="available">6 Month Validity</li>
              <li class="available">Weekdays Support Only</li>
              <li>Personal Care Taker</li>
            </ul>
          </div>
          <div class="pricing-bottom">
            <a href="#" class="btn-pricing">Choose Plan</a>
          </div>

        </div>
      </div>

      <!-- Single Package -->
      <div class="col-lg-4 col-md-4">
        <div class="pricing-wrap platinum-pr recommended">

          <div class="pricing-header">
            <h4 class="pr-value"><sup>₹</sup>4999</h4>
            <h4 class="pr-title">Platinum Package <span class="badge badge-success">Latest Price</span></h4>
          </div>
          <div class="pricing-body">
            <ul>
              <li class="available">10+ Listings</li>
              <li class="available">Contact With Agent</li>
              <li class="available">6 Month Validity</li>
              <li class="available">7x24 Fully Support</li>
              <li>Personal Care Taker</li>
            </ul>
          </div>
          <div class="pricing-bottom">
            <a href="#" class="btn-pricing">Choose Plan</a>
          </div>

        </div>
      </div>

      <!-- Single Package -->
      <div class="col-lg-4 col-md-4">
        <div class="pricing-wrap standard-pr">

          <div class="pricing-header">
            <h4 class="pr-value"><sup>₹</sup>7999</h4>
            <h4 class="pr-title">Prime Package <span class="badge badge-success">latest Price</span></h4>
          </div>
          <div class="pricing-body">
            <ul>
              <li class="available">20+ Listings</li>
              <li class="available">Contact With Agent</li>
              <li class="available">6 Month Validity</li>
              <li class="available">7x24 Fully Support</li>
              <li class="available">Personal Care taker</li>
            </ul>
          </div>
          <div class="pricing-bottom">
            <a href="#" class="btn-pricing">Choose Plan</a>
          </div>

        </div>
      </div>

    </div>

  </div>
</section>
<!-- ============================ Price Table End ================================== -->

{% endblock %}
